h1 {
	color: skyblue;
	font-size: 80px;
	text-align: center;

}

h2 {
	color:darkblue;
	font-size: 50px;
	text-align: center;
}

body{
	background-color: darkcyan;
	font-family: sans-serif;
}

img{
	border: 10px solid blue;
}

nav {
	background-color: blue;
	padding: 10px;
}

nav a {
	padding: 6px;
	margin: 6px;
	border: 1px solid white;
	background-color: white;
	border-radius: 70px;
	font-size: 20px;
	text-decoration: none;
	color: black;


}

main img {
	border: 10px double khaki;
	width: 350px;
	height: 300px;
	margin: 10px;
}

main {
   padding:50px ;
}

footer {
	background-color: blue;
	padding: 5px;

}

footer p{
	color:black ;
	text-align:left ;
	background-color:white ;
	padding: 1px;
}

footer img{
	width: 60px;
	height: 60px;
	margin: 0px 10px 0px 10px
}